<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.bpmn.module.exchange.mapper.CurrencyExchangeRateInfoMapper">
  <resultMap id="BaseResultMap" type="com.minigod.zero.bpmn.module.exchange.entity.CurrencyExchangeRateInfo">
    <!--@mbg.generated-->
    <!--@Table currency_exchange_rate_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="buy_ccy" jdbcType="INTEGER" property="buyCcy" />
    <result column="sell_ccy" jdbcType="INTEGER" property="sellCcy" />
    <result column="exchange_rate" jdbcType="DECIMAL" property="exchangeRate" />
    <result column="init_date" jdbcType="VARCHAR" property="initDate" />
    <result column="default_config" jdbcType="INTEGER" property="defaultConfig" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_dept" jdbcType="BIGINT" property="createDept" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, buy_ccy, sell_ccy, exchange_rate, init_date, default_config, create_user, update_user,
    create_dept, create_time, update_time, `status`, is_deleted
  </sql>



    <select id="queryPageList" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List" />
        from currency_exchange_rate_info
        <where>
            <if test="query.buyCcy != null">
                and buy_ccy =#{query.buyCcy}
            </if>
            <if test="query.sellCcy != null ">
                and sell_ccy = #{query.sellCcy}
            </if>
            <if test="query.status != null ">
                and status = #{query.status}
            </if>

            <if test="query.initDate!=null and query.initDate!=''">
                and create_time <![CDATA[ >= ]]>  #{query.initDate}
            </if>

            <if test="query.initDate!=null and query.initDate!=''">
                and create_time <![CDATA[ <= ]]>  #{query.initDate}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="queryList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from currency_exchange_rate_info
        <where>
            <if test="query.buyCcy != null">
                and buy_ccy  =#{query.buyCcy}
            </if>
            <if test="query.sellCcy != null ">
                and sell_ccy = #{query.sellCcy}
            </if>
            <if test="query.status != null ">
                and status = #{query.status}
            </if>

            <if test="query.initDate!=null and query.initDate!=''">
                and create_time <![CDATA[ >= ]]>  #{query.initDate}
            </if>

            <if test="query.initDate!=null and query.initDate!=''">
                and create_time <![CDATA[ <= ]]>  #{query.initDate}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
