<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.customer.mapper.CustomerStockTradingAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="stockTransactionAccountResultMap" type="com.minigod.zero.customer.entity.CustomerStockTradingAccountEntity">
        <result column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="trade_account" property="tradeAccount"/>
        <result column="acct_type" property="acctType"/>
        <result column="available_amount" property="availableAmount"/>
        <result column="freeze_amount" property="freezeAmount"/>
        <result column="currency" property="currency"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectCustomerStockTransactionAccountPage" resultMap="stockTransactionAccountResultMap">
        select * from customer_stock_trading_account where is_deleted = 0
    </select>


</mapper>
