<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.biz.task.mapper.IpoSmsZqInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ipoSmsZqInfoResultMap" type="com.minigod.zero.trade.entity.IpoSmsZqInfoEntity">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="asset_id" property="assetId"/>
        <result column="fund_account" property="fundAccount"/>
        <result column="client_id" property="clientId"/>
        <result column="is_send" property="isSend"/>
        <result column="quantity_allotted" property="quantityAllotted"/>
        <result column="create_time" property="createTime"/>
        <result column="type" property="type"/>
    </resultMap>


    <select id="selectIpoSmsZqInfoPage" resultMap="ipoSmsZqInfoResultMap">
        select * from ipo_sms_zq_info where is_deleted = 0
    </select>


</mapper>
