<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.biz.task.mapper.TradeCaleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tradeCaleResultMap" type="com.minigod.zero.mkt.entity.TradeCaleEntity">
        <result column="cale_id" property="caleId"/>
        <result column="normal_date" property="normalDate"/>
        <result column="region_code" property="regionCode"/>
        <result column="is_trade_day" property="isTradeDay"/>
        <result column="last_trd" property="lastTrd"/>
        <result column="next_trd" property="nextTrd"/>
        <result column="is_week_end" property="isWeekEnd"/>
        <result column="is_month_end" property="isMonthEnd"/>
        <result column="is_year_end" property="isYearEnd"/>
        <result column="last_week_trd" property="lastWeekTrd"/>
        <result column="last_month_trd" property="lastMonthTrd"/>
        <result column="last_year_trd" property="lastYearTrd"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="ext_time" property="extTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

</mapper>
