<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<style>.infosh {
  border: 1px;
  border-style: solid;
  border-color: #0096ff;
  padding: 0px 5px;
  text-align: left;
  font-weight: bold;
  width: 28%;
}

.infosp {
  border: 1px;
  border-style: solid;
  border-color: #0096ff;
  padding: 0px 5px;
  text-align: left
}

.tipst {
  margin-left: 30px;
  font-size: 14px;
}

.tipsc {
  margin-left: 30px;
}</style>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div style="font-size:12px;color:#303030;margin:0 auto;padding:0; line-height:24px;">
  <div style="background:url(https://www.sunline.com/web/emailiamges/body_bg_new.jpg) no-repeat;padding:90px 27px 0px;width:541px;margin:auto;">
    <div style="padding:0px; margin:0px; line-height:26px;"><b>尊敬的<font>@@username@@</font>，您好！</b></div>
    <div style="padding:0px; margin:0px; line-height:26px; margin-top:15px;">我们刚刚收到您找回密码的请求。若您没有做过此操作，请忽略此邮件。
      如您确认需要更改邮箱，请点击下面的按钮：
    </div>
    <div style="padding:0px; margin:0px;margin-top:15px;"><a
            href="@@url@@" target="_blank"
            style=" display:block; background-color:#095ECB; width:110px; height:34px; line-height:34px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; color:#FFF; font-weight:bold; text-decoration:none; text-align:center; ">重置密码</a>
    </div>
    <div style="padding:0px; margin:0px;margin-top:15px; line-height:26px; font-size:12px; color:#999;">
      如按钮点击无效，请复制以下地址到浏览器中打开：<br>
      <a href="@@url@@" target="_blank"
         style="color:#3C95F1;">@@url@@</a>
    </div>
  </div>
  <div style="background:url(https://www.sunline.com/web/emailiamges/body_bg_new.jpg) bottom no-repeat;padding:16px 27px 0px;width:541px;height:260px;margin:auto">
    <div style="padding-left:24px;line-height:16px"><span
            style="font-family: 'Courier New', Courier, monospace; color:#FFF; font-size:9pt;"><b>******</b><br/><b>China
      Everbright Securities(Hong Kong) Limited</b><br/>香港金钟夏悫道16号远东金融中心36楼<br/>36/F Far East Finance Center,16 Harcourt Road, Hong Kong<br/>电话 Tel:(852)**** ****&nbsp;&nbsp;&nbsp;传真 Fax:(852)**** ****&nbsp;&nbsp;&nbsp;网址:<a
            href="http://www.sunline.com" target="_blank"><span style="color:#FFF">wwww.sunline.com</span></a></span></div>
  </div>
</div>
</body>
</html>