<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
  <div style="font-size:12px;color:#303030;line-height:24px;position:relative">
    <div style="position: absolute;width:500px;margin-left:-250px;left:50%;top:100px;">
      <div style="line-height:26px;"><b>尊敬的{0}，您好！</b></div>
      <div style="line-height:26px; margin-top:15px;">我们刚刚收到您重置密码的请求。若您没有做过此操作，请忽略此邮件。
        <br/>
        您的验证码为：
      </div>
      <br/>
      <div>
        <span style="color: #0096ff; font-size: 30px">{1}</span>
      </div>
      <div style="padding:0px; margin-top:15px; line-height:26px; font-size:12px; color:#999;">
        5分钟内有效，请勿泄露。
      </div>
    </div>
    <div style="width:500px;height:260px;position:absolute;left:50%;margin-left:-250px;top:300px;">
      <table style="max-width: 580px;padding:0 20px;margin:0 auto;font-size:12px;color:#a5a5a5;width:100%;border-collapse:collapse;">
        <tbody>
        <tr>
          <td style="height:1px;width:200px;background:#f4f4f4;margin:0 auto;"></td>
        </tr>
        <tr>
          <td style="height:20px;font-size:0;line-height:0;">&nbsp;</td>
        </tr>
        <tr>
          <td width="100%" style="font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;">云锋金融集团倾力打造掌上智珠APP 港股·美股·中港通A股交易·全球基金交易。</td>
        </tr>
        <tr>
          <td width="100%" style="font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;">zhizhu  mobile APP is full developed and owned by Yunfeng Financial Group: APP is for trading on HK shares, U.S. shares, A-shares and global funds.</td>
        </tr>
        <tr>
          <td style="height:20px;font-size:0;line-height:0;">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
              <tbody><tr>
                <td width="110" height="110" style="border:1px #ccc solid;"><img src="https://static.zhizhu.cn/picture/super/download.png" style="width:110px;height:110px;display:block;" width="110">
                </td>
              </tr>
              <tr>
                <td width="110" style="color:#a5a5a5;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">掌上智珠APP</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="110" style="color:#a5a5a5;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;"> zhizhu APP</td>
                <td>&nbsp;</td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        <tr>
          <td style="height:20px;font-size:0;line-height:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style="line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">相关金融服务由云锋证券有限公司（zhizhu集团旗下全资子公司）提供</td>
        </tr>
        <tr>
          <td style="line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">All
            relevant financial services are provided by zhizhu Securities Limited (a member of the Yunfeng Financial
            Group)</td>
        </tr>
        <tr>
          <td style="line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">香港联交所参与者
            经纪代号：0650</td>
        </tr>
        <tr>
          <td style="line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">SEHK
            Participants, Broker Number 0650</td>
        </tr>
        <tr>
          <td style="line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">香港证监会中央编号：AYT670</td>
        </tr>
        <tr>
          <td style="line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">SFC
            Registered CE Number: AYT670</td>
        </tr>
        <tr>
          <td style="line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">香港湾仔告士打道38号万通保险中心18楼1803-1806室</td>
        </tr>
        <tr>
          <td style="line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">Rooms 1803-1806, 18th Floor, YF Life Centre, 38 Gloucester Road, Wanchai, Hong Kong</td>
        </tr>
        <tr>
          <td style="height:20px;font-size:0;line-height:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style="height:1px;width:200px;background:#f4f4f4;margin:0 auto;"></td>
        </tr>
        <tr>
          <td style="height:20px;font-size:0;line-height:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style="text-indent:20px;line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">请勿回复此电子邮件，此乃自动系统发出之电子邮件。
            我们无法通过此电子邮件回复您的查询。</td>
        </tr>
        <tr>
          <td style="text-indent:20px;line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">Please
            do not reply to this email since it is from an automated mailbox. We are unable to respond to your queries via
            return email.</td>
        </tr>
        <tr>
          <td style="text-indent:20px;line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">此乃机密电子邮件，所载资料可能带有法律权责。若您并非此邮件的指定收件人，请立刻将之及所有附件删除。如您并非此邮件的指定收件人，乃被严禁复制、传送、公开或使用其所载的全部或部分资料。</td>
        </tr>
        <tr>
          <td style="text-indent:20px;line-height:20px;font-family:\'Microsoft YaHei\',\'pingfang\',Helvetica,sans-serif;font-size:12px;">This
            email may contain confidential or privileged information. If &nbsp;you are not the intended recipient of this email,
            please delete the message and any attachments immediately. Any disclosure, reproduction, distribution or other
            use of this email and its contents by an individual other than the intended recipient is prohibited.</td>
        </tr>
        <tr>
          <td style="height:20px;font-size:0;line-height:0;">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
