<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.customer.mapper.CustomerStockCapitalAccountMapper">

    <resultMap id="BaseResultMap" type="com.minigod.zero.customer.entity.CustomerStockCapitalAccountEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tradeAccount" column="trade_account" jdbcType="VARCHAR"/>
            <result property="capitalAccount" column="capital_account" jdbcType="VARCHAR"/>
            <result property="accountType" column="account_type" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isMaster" column="is_master" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="availableAmount" column="available_amount" jdbcType="DECIMAL"/>
            <result property="freezeAmount" column="freeze_amount" jdbcType="DECIMAL"/>
            <result property="transitedAmount" column="transited_amount" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,trade_account,capital_account,
        account_type,create_time,update_user,
        update_time,is_master,status,
        is_deleted,available_amount,freeze_amount,
        transited_amount
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer_stock_capital_account
        where  id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from customer_stock_capital_account
        where  id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minigod.zero.customer.entity.CustomerStockCapitalAccountEntity" useGeneratedKeys="true">
        insert into customer_stock_capital_account
        ( id,trade_account,capital_account
        ,account_type,create_time,update_user
        ,update_time,is_master,status
        ,is_deleted,available_amount,freeze_amount
        ,transited_amount)
        values (#{id,jdbcType=BIGINT},#{tradeAccount,jdbcType=VARCHAR},#{capitalAccount,jdbcType=VARCHAR}
        ,#{accountType,jdbcType=CHAR},#{createTime,jdbcType=TIMESTAMP},#{updateUser,jdbcType=BIGINT}
        ,#{updateTime,jdbcType=TIMESTAMP},#{isMaster,jdbcType=TINYINT},#{status,jdbcType=TINYINT}
        ,#{isDeleted,jdbcType=TINYINT},#{availableAmount,jdbcType=DECIMAL},#{freezeAmount,jdbcType=DECIMAL}
        ,#{transitedAmount,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minigod.zero.customer.entity.CustomerStockCapitalAccountEntity" useGeneratedKeys="true">
        insert into customer_stock_capital_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="tradeAccount != null">trade_account,</if>
                <if test="capitalAccount != null">capital_account,</if>
                <if test="accountType != null">account_type,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateUser != null">update_user,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="isMaster != null">is_master,</if>
                <if test="status != null">status,</if>
                <if test="isDeleted != null">is_deleted,</if>
                <if test="availableAmount != null">available_amount,</if>
                <if test="freezeAmount != null">freeze_amount,</if>
                <if test="transitedAmount != null">transited_amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="tradeAccount != null">#{tradeAccount,jdbcType=VARCHAR},</if>
                <if test="capitalAccount != null">#{capitalAccount,jdbcType=VARCHAR},</if>
                <if test="accountType != null">#{accountType,jdbcType=CHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateUser != null">#{updateUser,jdbcType=BIGINT},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="isMaster != null">#{isMaster,jdbcType=TINYINT},</if>
                <if test="status != null">#{status,jdbcType=TINYINT},</if>
                <if test="isDeleted != null">#{isDeleted,jdbcType=TINYINT},</if>
                <if test="availableAmount != null">#{availableAmount,jdbcType=DECIMAL},</if>
                <if test="freezeAmount != null">#{freezeAmount,jdbcType=DECIMAL},</if>
                <if test="transitedAmount != null">#{transitedAmount,jdbcType=DECIMAL},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.minigod.zero.customer.entity.CustomerStockCapitalAccountEntity">
        update customer_stock_capital_account
        <set>
                <if test="tradeAccount != null">
                    trade_account = #{tradeAccount,jdbcType=VARCHAR},
                </if>
                <if test="capitalAccount != null">
                    capital_account = #{capitalAccount,jdbcType=VARCHAR},
                </if>
                <if test="accountType != null">
                    account_type = #{accountType,jdbcType=CHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateUser != null">
                    update_user = #{updateUser,jdbcType=BIGINT},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="isMaster != null">
                    is_master = #{isMaster,jdbcType=TINYINT},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=TINYINT},
                </if>
                <if test="isDeleted != null">
                    is_deleted = #{isDeleted,jdbcType=TINYINT},
                </if>
                <if test="availableAmount != null">
                    available_amount = #{availableAmount,jdbcType=DECIMAL},
                </if>
                <if test="freezeAmount != null">
                    freeze_amount = #{freezeAmount,jdbcType=DECIMAL},
                </if>
                <if test="transitedAmount != null">
                    transited_amount = #{transitedAmount,jdbcType=DECIMAL},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.minigod.zero.customer.entity.CustomerStockCapitalAccountEntity">
        update customer_stock_capital_account
        set
            trade_account =  #{tradeAccount,jdbcType=VARCHAR},
            capital_account =  #{capitalAccount,jdbcType=VARCHAR},
            account_type =  #{accountType,jdbcType=CHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_user =  #{updateUser,jdbcType=BIGINT},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            is_master =  #{isMaster,jdbcType=TINYINT},
            status =  #{status,jdbcType=TINYINT},
            is_deleted =  #{isDeleted,jdbcType=TINYINT},
            available_amount =  #{availableAmount,jdbcType=DECIMAL},
            freeze_amount =  #{freezeAmount,jdbcType=DECIMAL},
            transited_amount =  #{transitedAmount,jdbcType=DECIMAL}
        where   id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
