<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.customer.mapper.CustomerAppSettingsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="appSettingsResultMap" type="com.minigod.zero.customer.entity.CustomerAppSettingsEntity">
        <result column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="privacy" property="privacy"/>
        <result column="gesture_pwd" property="gesturePwd"/>
        <result column="getsture_show_time" property="getstureShowTime"/>
        <result column="robot_attention_status" property="robotAttentionStatus"/>
        <result column="accept_agreement" property="acceptAgreement"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="selectCustomerAppSettingsPage" resultMap="appSettingsResultMap">
        select * from ifund_app_settings where is_deleted = 0
    </select>

    <select id="selectByCustId" parameterType="java.lang.Long" resultMap="appSettingsResultMap">
        select * from ifund_app_settings where is_deleted = 0 and cust_id = #{custId}
    </select>

</mapper>
