<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.customer.mapper.TaTDaClientMapper">

    <resultMap id="BaseResultMap" type="com.minigod.zero.customer.entity.TaTDaClientEntity">
            <id property="subaccountid" column="subAccountId" jdbcType="VARCHAR"/>
            <result property="daaccountid" column="daAccountId" jdbcType="VARCHAR"/>
            <result property="daclientid" column="daClientId" jdbcType="VARCHAR"/>
            <result property="custid" column="custId" jdbcType="VARCHAR"/>
            <result property="extaccountid" column="extAccountId" jdbcType="VARCHAR"/>
            <result property="chinesename" column="chineseName" jdbcType="VARCHAR"/>
            <result property="firstname" column="firstName" jdbcType="VARCHAR"/>
            <result property="lastname" column="lastName" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        subAccountId,daAccountId,daClientId,
        custId,extAccountId,chineseName,
        firstName,lastName,createTime,
        updateTime
    </sql>
</mapper>
