<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.bpmn.module.account.mapper.AccountSupplementCertificateMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="account_supplement_certificateResultMap"
               type="com.minigod.zero.bpmn.module.account.entity.AccountSupplementCertificateEntity"
               extends="com.minigod.zero.bpmn.module.account.mapper.BaseEntityMapper.TenantBaseResultMap">
        <result column="id" property="id"/>
        <result column="application_id" property="applicationId"/>
        <result column="user_id" property="userId"/>
        <result column="sup_id_kind" property="supIdKind"/>
        <result column="is_permanent_resident" property="isPermanentResident"/>
        <result column="is_hk_id_card" property="isHkIdCard"/>
        <result column="sup_id_card_number" property="supIdCardNumber"/>
        <result column="sup_id_card_valid_date_end" property="supIdCardValidDateEnd"/>
        <result column="sup_id_card_valid_date_start" property="supIdCardValidDateStart"/>
        <result column="sup_certificate_no" property="supCertificateNo"/>
        <result column="passport_citizen_id_card" property="passportCitizenIdCard"/>
        <result column="id_card_place_of_issue" property="idCardPlaceOfIssue"/>
        <result column="place_of_issue" property="placeOfIssue"/>
    </resultMap>
    <resultMap id="account_supplement_certificateResultMapVo"
               type="com.minigod.zero.bpmn.module.account.vo.AccountSupplementCertificateVO"
               extends="account_supplement_certificateResultMap">
    </resultMap>
    <select id="queryByApplicationId" resultMap="account_supplement_certificateResultMapVo">
        select *
        from open_account_supplement_certificate
        where application_id = #{applicationId}
    </select>
    <select id="queryBySupIdCardNumber" resultMap="account_supplement_certificateResultMapVo">
        select *
        from open_account_supplement_certificate
        where sup_id_card_number = #{supIdCardNumber} and user_id != #{userId} limit 1
    </select>
    <delete id="deleteByApplicationId">
        delete
        from open_account_supplement_certificate
        where application_id = #{applicationId}
    </delete>
</mapper>
