<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.bpmn.module.account.mapper.BpmFundAcctInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="bpmnFundAcctInfoResultMap" type="com.minigod.zero.bpmn.module.account.entity.BpmnFundAcctInfoEntity">
        <result column="id" property="id"/>
        <result column="trade_account" property="tradeAccount"/>
        <result column="fund_account_main" property="fundAccountMain"/>
        <result column="fund_account" property="fundAccount"/>
        <result column="fund_account_type" property="fundAccountType"/>
        <result column="fund_oper_type" property="fundOperType"/>
        <result column="account_status" property="accountStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


</mapper>
