<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.manage.mapper.AppConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="appConfigResultMap" type="com.minigod.zero.manage.entity.AppConfigEntity">
        <result column="id" property="id"/>
        <result column="group_type" property="groupType"/>
        <result column="config_desc" property="configDesc"/>
        <result column="item_key" property="itemKey"/>
        <result column="user_ids" property="userIds"/>
        <result column="config_content" property="configContent"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="publish_time" property="publishTime"/>
    </resultMap>


    <select id="selectAppConfigPage" resultType="com.minigod.zero.manage.vo.AppConfigVO">
        select * from oms_app_config where is_deleted = 0
        <if test="appConfig.itemKey != null and appConfig.itemKey !=''">
           and item_key = #{appConfig.itemKey}
        </if>
        <if test="appConfig.groupType != null ">
            and group_type = #{appConfig.groupType}
        </if>
        <if test="appConfig.status != null ">
            and status = #{appConfig.status}
        </if>
        ORDER BY update_time DESC
    </select>


</mapper>
