<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.manage.mapper.DiscoverRoleIconMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DiscoverRoleIconResultMap" type="com.minigod.zero.manage.entity.DiscoverRoleIconEntity">
        <result column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="icon_id" property="iconId"/>
        <result column="grade" property="grade"/>
        <result column="is_display" property="isDisplay"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectDiscoverRoleIconPage" resultType="com.minigod.zero.manage.vo.DiscoverRoleIconVO">
        select * from oms_discover_role_icon where is_deleted = 0
    </select>


</mapper>
