<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.cust.mapper.CustResetLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="custResetLogResultMap" type="com.minigod.zero.cust.entity.CustResetLogEntity">
        <result column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="rest_time" property="restTime"/>
        <result column="rest_type" property="restType"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


</mapper>
