<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.cust.mapper.CustOldPasswordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="custOldPasswordResultMap" type="com.minigod.zero.cust.entity.CustOldPasswordEntity">
        <result column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="customer_id" property="customerId"/>
        <result column="relation_ship" property="relationShip"/>
        <result column="trade_account" property="tradeAccount"/>
        <result column="login_pwd" property="loginPwd"/>
        <result column="login_salt" property="loginSalt"/>
        <result column="login_active" property="loginActive"/>
        <result column="login_active_time" property="loginActiveTime"/>
        <result column="trade_pwd" property="tradePwd"/>
        <result column="trade_salt" property="tradeSalt"/>
        <result column="trade_active" property="tradeActive"/>
        <result column="trade_active_time" property="tradeActiveTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


</mapper>
