<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.cust.mapper.IcbcBankInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="bankInfoResultMap" type="com.minigod.zero.cust.entity.IcbcBankInfoEntity">
        <result column="id" property="id"/>
        <result column="capital_account" property="capitalAccount"/>
        <result column="bank_no" property="bankNo"/>
        <result column="bank_account" property="bankAccount"/>
        <result column="money_type" property="moneyType"/>
        <result column="bind_time" property="bindTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="bank_acct_status" property="bankAcctStatus"/>
        <result column="bank_type" property="bankType"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectIcbcBankInfoPage" resultMap="bankInfoResultMap">
        select * from icbc_bank_info where is_deleted = 0
    </select>

</mapper>
