<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.bpm.mapper.AcctRiskEvaluationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="acctRiskEvaluationResultMap" type="com.minigod.zero.bpm.entity.AcctRiskEvaluationEntity">
        <result column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="subjective_score" property="subjectiveScore"/>
        <result column="risk_score" property="riskScore"/>
        <result column="objective_score" property="objectiveScore"/>
        <result column="option_data" property="optionData"/>
        <result column="risk_type" property="riskType"/>
        <result column="expiry_date" property="expiryDate"/>
        <result column="is_push" property="isPush"/>
        <result column="retest_sts" property="retestSts"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="selectAcctRiskEvaluationPage" resultMap="acctRiskEvaluationResultMap">
        select * from acct_risk_evaluation where is_deleted = 0
    </select>

    <select id="selectNewRiskLevelByCustId" resultMap="acctRiskEvaluationResultMap">
        select * from acct_risk_evaluation where is_deleted = 0 and cust_id = #{custId}  order by create_time desc limit 1
    </select>


</mapper>
