<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.platform.mapper.PlatformEmailContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="informEmailContentResultMap" type="com.minigod.zero.platform.entity.PlatformEmailContentEntity">
        <result column="id" property="id"/>
        <result column="temp_code" property="tempCode"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="description" property="description"/>
        <result column="address" property="address"/>
        <result column="send_status" property="sendStatus"/>
        <result column="send_type" property="sendType"/>
        <result column="send_time" property="sendTime"/>
        <result column="retry_cnt" property="retryCnt"/>
        <result column="has_attach" property="hasAttach"/>
        <result column="attach_uris" property="attachUris"/>
        <result column="opr_id" property="oprId"/>
        <result column="opr_name" property="oprName"/>
        <result column="device_id" property="deviceId"/>
        <result column="login_ip" property="loginIp"/>
        <result column="user_id" property="userId"/>
        <result column="send_id" property="sendId"/>
        <result column="carbon_copy" property="carbonCopy"/>
        <result column="blind_carbon_copy" property="blindCarbonCopy"/>
        <result column="sender" property="sender"/>
        <result column="from_name" property="fromName"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="email_id" property="emailId"/>
        <result column="sendcloud_status" property="sendcloudStatus"/>
        <result column="sendsmtp_status" property="sendsmtpStatus"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="msg_id" property="msgId"/>
    </resultMap>

<!--    <select id="selectInformEmailContentPage" resultMap="informEmailContentResultMap">-->
<!--        select * from platform_email_content where is_deleted = 0-->
<!--    </select>-->


    <update id="updateByMsgId" parameterType="com.minigod.zero.platform.entity.PlatformEmailContentEntity">
        update platform_email_content
        set send_status = #{sendStatus} ,email_id = #{emailId},error_msg = #{errorMsg},channel = #{channel}
        where msg_id = #{msgId}
    </update>
</mapper>
