<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.bpmn.module.pi.mapper.ProfessionalInvestorPIVoucherImageMapper">
    <resultMap id="BaseResultMap" type="com.minigod.zero.bpmn.module.pi.entity.ProfessionalInvestorPIVoucherImageEntity">
        <id column="img_id" property="id"/>
        <result column="img_application_id" property="applicationId"/>
        <result column="img_client_id" property="clientId"/>
        <result column="img_image_type" property="imageType"/>
        <result column="img_file_name" property="fileName"/>
        <result column="img_file_storage_name" property="fileStorageName"/>
        <result column="img_ext_name" property="extName"/>
        <result column="img_storage_path" property="storagePath"/>
        <result column="img_create_user" property="createUser"/>
        <result column="img_update_user" property="updateUser"/>
        <result column="img_create_time" property="createTime"/>
        <result column="img_update_time" property="updateTime"/>
        <result column="img_remark" property="remark"/>
        <result column="img_tenant_id" property="tenantId"/>
    </resultMap>
    <resultMap id="professionalInvestorPIVoucherImageMapVo" type="com.minigod.zero.bpmn.module.pi.vo.ProfessionalInvestorPIVoucherImageVO" extends="BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        img.id AS img_id,
        img.application_id AS img_application_id,
        img.client_id AS img_client_id,
        img.image_type AS img_image_type,
        img.file_name AS img_file_name,
        img.file_storage_name AS img_file_storage_name,
        img.ext_name AS img_ext_name,
        img.storage_path AS img_storage_path,
        img.create_user AS img_create_user,
        img.update_user AS img_update_user,
        img.create_time AS img_create_time,
        img.update_time AS img_update_time,
        img.remark AS img_remark,
        img.tenant_id AS img_tenant_id
    </sql>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into professional_investor_pi_voucher_image
        (application_id, client_id, image_type, file_name, file_storage_name, ext_name, storage_path,
        create_user, update_user, create_time, update_time, remark, tenant_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.applicationId}, #{item.clientId}, #{item.imageType}, #{item.fileName}, #{item.fileStorageName},
            #{item.extName}, #{item.storagePath}, #{item.createUser}, #{item.updateUser}, #{item.createTime},
            #{item.updateTime}, #{item.remark}, #{item.tenantId})
        </foreach>
    </insert>
    <select id="queryByApplicationId" resultType="com.minigod.zero.bpmn.module.pi.vo.ProfessionalInvestorPIVoucherImageVO">
        select * from professional_investor_pi_voucher_image where application_id = #{applicationId} and is_deleted = 0 order by create_time desc
    </select>
</mapper>
