<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.system.mapper.TradeKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="trade_keyResultMap" type="com.minigod.zero.system.entity.TradeKey">
    </resultMap>

</mapper>
