<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.bpmn.module.withdraw.mapper.ClientFundWithdrawInfoMapper">
    <resultMap id="BaseResultMap" type="com.minigod.zero.bpmn.module.withdraw.entity.ClientFundWithdrawInfo">
        <!--@mbg.generated-->
        <!--@Table client_fund_withdraw_info-->
        <id column="id" property="id" />
        <result column="application_id" property="applicationId" />
        <result column="client_id" property="clientId" />
        <result column="fund_account" property="fundAccount" />
        <result column="entrust_time" property="entrustTime" />
        <result column="id_kind" property="idKind" />
        <result column="id_node" property="idNo" />
        <result column="client_name" property="clientName" />
        <result column="client_name_spell" property="clientNameSpell" />
        <result column="bank_acct_type" property="bankAcctType" />
        <result column="sex" property="sex" />
        <result column="mobile" property="mobile" />
        <result column="transfer_type" property="transferType" />
        <result column="ccy" property="ccy" />
        <result column="withdraw_amount" property="withdrawAmount" />
        <result column="frozen_balance" property="frozenBalance" />
        <result column="drawable_balance" property="drawableBalance" />
        <result column="deduct_way" property="deductWay" />
        <result column="charge_fee" property="chargeFee" />
        <result column="actual_amount" property="actualAmount" />
        <result column="refunded_amount" property="refundedAmount" />
        <result column="refunded_date" property="refundedDate" />
        <result column="init_date" property="initDate" />
        <result column="frozen_ref_id" property="frozenRefId" />
        <result column="old_charge_fee" property="oldChargeFee" />
        <result column="free_fee_flag" property="freeFeeFlag" />
        <result column="recv_account_type" property="recvAccountType" />
        <result column="recv_bank_code" property="recvBankCode" />
        <result column="recv_bank_id" property="recvBankId" />
        <result column="recv_bank_name" property="recvBankName" />
        <result column="recv_bank_acct" property="recvBankAcct" />
        <result column="recv_bank_acct_name" property="recvBankAcctName" />
        <result column="recv_bank_type" property="recvBankType" />
        <result column="recv_swift_code" property="recvSwiftCode" />
        <result column="recv_contact_address" property="recvContactAddress" />
        <result column="recv_bank_branch_name" property="recvBankBranchName" />
        <result column="recv_bank_branch_code" property="recvBankBranchCode" />
        <result column="third_recv_flag" property="thirdRecvFlag" />
        <result column="third_recv_real" property="thirdRecvReal" />
        <result column="third_recv_reason" property="thirdRecvReason" />
        <result column="pay_way" property="payWay" />
        <result column="pay_type" property="payType" />
        <result column="pay_bank_code" property="payBankCode" />
        <result column="pay_bank_name" property="payBankName" />
        <result column="pay_account_name" property="payAccountName" />
        <result column="pay_bank_acct" property="payBankAcct" />
        <result column="pay_bank_id" property="payBankId" />
        <result column="bank_state" property="bankState" />
        <result column="bank_ref_id" property="bankRefId" />
        <result column="bank_rt_code" property="bankRtCode" />
        <result column="bank_rt_msg" property="bankRtMsg" />
        <result column="remittance_id" property="remittanceId" />
        <result column="callback_status" property="callbackStatus" />
        <result column="gt_business_step" property="gtBusinessStep" />
        <result column="gt_deal_status" property="gtDealStatus" />
        <result column="gt_deal_date" property="gtDealDate" />
        <result column="gt_rt_code" property="gtRtCode" />
        <result column="gt_rt_msg" property="gtRtMsg" />
        <result column="export_status" property="exportStatus" />
        <result column="export_date" property="exportDate" />
        <result column="print_status" property="printStatus" />
        <result column="print_date" property="printDate" />
        <result column="apply_source" property="applySource" />
        <result column="cust_remark" property="custRemark" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="bank_reference" property="bankReference" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_dept" property="createDept" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="remittance_voucher" property="remittanceVoucher" />

    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, application_id, client_id, fund_account, entrust_time, id_kind, id_node, client_name,
        client_name_spell, bank_acct_type, sex, mobile, transfer_type, ccy, withdraw_amount,
        frozen_balance, drawable_balance, deduct_way, charge_fee, actual_amount, refunded_amount,
        refunded_date, init_date, frozen_ref_id, old_charge_fee, free_fee_flag, recv_account_type,
        recv_bank_code, recv_bank_id, recv_bank_name, recv_bank_acct, recv_bank_acct_name,
        recv_swift_code, recv_contact_address, recv_bank_branch_name, recv_bank_branch_code,
        third_recv_flag, third_recv_real, third_recv_reason, pay_way, pay_type, pay_bank_code,
        pay_bank_name, pay_account_name, pay_bank_acct, pay_bank_id, bank_state, bank_ref_id,
        bank_rt_code, bank_rt_msg, remittance_id, callback_status, gt_business_step, gt_deal_status,
        gt_deal_date, gt_rt_code, gt_rt_msg, export_status, export_date, print_status, print_date,
        apply_source, cust_remark, remark, create_time, create_user, update_time, update_user,
        bank_reference, tenant_id, create_dept, `status`, is_deleted,remittance_voucher
    </sql>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into client_fund_withdraw_info
        (application_id, client_id, fund_account, entrust_time, id_kind, id_node, client_name,
        client_name_spell, bank_acct_type, sex, mobile, transfer_type, ccy, withdraw_amount,
        frozen_balance, drawable_balance, deduct_way, charge_fee, actual_amount, refunded_amount,
        refunded_date, init_date, frozen_ref_id, old_charge_fee, free_fee_flag, recv_account_type,
        recv_bank_code, recv_bank_id, recv_bank_name, recv_bank_acct, recv_bank_acct_name,
        recv_swift_code, recv_contact_address, recv_bank_branch_name, recv_bank_branch_code,
        third_recv_flag, third_recv_real, third_recv_reason, pay_way, pay_type, pay_bank_code,
        pay_bank_name, pay_account_name, pay_bank_acct, pay_bank_id, bank_state, bank_ref_id,
        bank_rt_code, bank_rt_msg, remittance_id, callback_status, gt_business_step, gt_deal_status,
        gt_deal_date, gt_rt_code, gt_rt_msg, export_status, export_date, print_status,
        print_date, apply_source, cust_remark, remark, create_time, create_user, update_time,
        update_user, bank_reference, tenant_id, create_dept, `status`, is_deleted,remittance_voucher)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.applicationId}, #{item.clientId}, #{item.fundAccount}, #{item.entrustTime},
            #{item.idKind}, #{item.idNo}, #{item.clientName}, #{item.clientNameSpell}, #{item.bankAcctType},
            #{item.sex}, #{item.mobile}, #{item.transferType}, #{item.ccy}, #{item.withdrawAmount},
            #{item.frozenBalance}, #{item.drawableBalance}, #{item.deductWay}, #{item.chargeFee},
            #{item.actualAmount}, #{item.refundedAmount}, #{item.refundedDate}, #{item.initDate},
            #{item.frozenRefId}, #{item.oldChargeFee}, #{item.freeFeeFlag}, #{item.recvAccountType},
            #{item.recvBankCode}, #{item.recvBankId}, #{item.recvBankName}, #{item.recvBankAcct},
            #{item.recvBankAcctName}, #{item.recvSwiftCode}, #{item.recvContactAddress}, #{item.recvBankBranchName},
            #{item.recvBankBranchCode}, #{item.thirdRecvFlag}, #{item.thirdRecvReal}, #{item.thirdRecvReason},
            #{item.payWay}, #{item.payType}, #{item.payBankCode}, #{item.payBankName}, #{item.payAccountName},
            #{item.payBankAcct}, #{item.payBankId}, #{item.bankState}, #{item.bankRefId}, #{item.bankRtCode},
            #{item.bankRtMsg}, #{item.remittanceId}, #{item.callbackStatus}, #{item.gtBusinessStep},
            #{item.gtDealStatus}, #{item.gtDealDate}, #{item.gtRtCode}, #{item.gtRtMsg}, #{item.exportStatus},
            #{item.exportDate}, #{item.printStatus}, #{item.printDate}, #{item.applySource},
            #{item.custRemark}, #{item.remark}, #{item.createTime}, #{item.createUser}, #{item.updateTime},
            #{item.updateUser}, #{item.bankReference}, #{item.tenantId}, #{item.createDept},
            #{item.status}, #{item.isDeleted}),#{item.remittanceVoucher}
        </foreach>
    </insert>
    <select id="queryByBankReference" resultMap="BaseResultMap">
        select * from client_fund_withdraw_info
        where bank_reference = #{bankReference}
        order by application_id desc
        LIMIT 1
    </select>
    <select id="queryByApplicationId" resultMap="BaseResultMap">
        select * from client_fund_withdraw_info
        where application_id = #{appicationId}
        order by application_id desc
        LIMIT 1
    </select>
</mapper>
