<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.trade.mapper.CustOperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="custOperationLogResultMap" type="com.minigod.zero.trade.entity.CustOperationLogEntity">
        <result column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="capital_account" property="capitalAccount"/>
        <result column="trade_account" property="tradeAccount"/>
        <result column="req_params" property="reqParams"/>
        <result column="req_time" property="reqTime"/>
        <result column="ip" property="ip"/>
        <result column="device_code" property="deviceCode"/>
        <result column="operation_type" property="operationType"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <select id="selectCustOperationLogPage" resultMap="custOperationLogResultMap">
        select * from cust_operation_log where is_deleted = 0
    </select>


</mapper>
