<html>
<body>
<table align="center" cellpadding="0" cellspacing="0" width="900" style="margin:0 auto;border:1px solid #e7e2ef;
       box-shadow:0 4px 8px 0 #aaaaaa; font-size: 14px; font-family: Microsoft YaHei; ">
    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>

    <tr height="">
        <td width="45" height="67" style="background-color:#e7e2ef;">&nbsp;</td>
        <td height="67" colspan="8" style="background-color:#e7e2ef;">
            <div style="background-color:#e7e2ef; width:100%">
                <img alt="logo" title="" src="https://www.digifingroup.com/assets/logo_and_text.d001de9e.png"
                     height="50" width="400"/></div>
        </td>
        <td width="45" height="67" style="background-color:#e7e2ef;"> &nbsp;</td>
    </tr>

    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>
    <!-- 頭部結束 -->
    <tr style="border-left: 1px solid #787878; border-right: 1px solid #787878;">
        <td width="45" height="50">&nbsp;</td>
        <td height="" colspan="8">
            <div style="padding-top:10px; font-size:14px; color:#333; line-height:26px;">
                <div style="padding:0px; margin:0px; line-height:26px;"><b>Hi,</b></div>
                <div style="padding:0px; margin:0px; line-height:26px; margin-top:15px;"> Please be aware of the PI
                    certification application and review it promptly. The detailed information is as follows:<br>
                    <table width="100%" border="1px" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td width="200"
                                style="padding-bottom:6px; font-size:14px; background-color:#e7e2ef">Application time：
                            </td>
                            <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">
                                {0}
                            </td>
                        </tr>
                        <tr>
                            <td width="200" style="padding-bottom:6px; font-size:14px; background-color:#e7e2ef">
                                Customer Name：
                            </td>
                            <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">
                                {1}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="padding:0px; margin:0px;margin-top:15px; line-height:26px;">Best wishes<br> <b>
                        <a style="text-decoration:none; color:#blue;" href="https://www.digifingroup.com/#/home">Shihan Global Financial Co., Ltd</a></b>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div style="line-height:26px;margin-top:10px; padding:0px">
                <strong>Network Security Tip: Protect your login/security credentials</strong></div>
            <div style="line-height:26px; padding: 0px">Beware of scams! Shihan Global will not request customer
                protection to provide personal information through email, using protection name, password, one-time
                password or other account protection information <br/>
                Do not disclose your login account, password, and one-time login password through any hyperlinks
                provided by email to access online services, or through any social media platforms, emails, messages, or
                phone calls
                (OTP) To others, please be careful to keep personal information safe Do not use devices in public
                places to log in to the trading system <br/>
                Regularly changing passwords and enhancing password strength can more effectively protect your account
                security <br/>
                If you suspect that you have encountered a fraud case, please immediately call our customer service
                hotline to report it to us to prevent losses <br/>
            </div>
        </td>
        <td width="45" height="50" style="border-right: 1px solid #e7e2ef;">&nbsp;</td>
    </tr>    <!-- 中間結束 -->
    <tr height="15">
        <td colspan="10"></td>
    </tr>

    <tr height="15">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>
    <!-- 中間部分結束 -->
    <tr style="background-color:#e7e2ef;">
        <td width="45" height="50">&nbsp;</td>
        <td colspan="8">
            <span style="width: 450px;height: 35px;background: #e7e2ef;border-radius: 20px;font-size:18px;text-align: center;display: inline-block;line-height: 35px;border: 1px solid #787878;">About Shihan Global Asset Management Platform</span>
        </td>
        <td width="45" height="50">&nbsp;</td>
    </tr>
    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>
    <tr style="background-color:#e7e2ef;">
        <td width="45" height="100">&nbsp;</td>
        <td colspan="7" valign="top">
            <span style="font-size: 15px;  font-family: Microsoft YaHei;"> As a one-stop financial asset management platform, Shihan Global Asset Management Platform provides high-quality wealth management services for investors worldwide. It is managed by DigiFIN, a digital finance group
Shihan Global Financial Co., Ltd., a subsidiary of the Group, is wholly owned. Lion Rock Global Financial Limited was founded in 1998 and is a licensed corporation of the Hong Kong Securities and Futures Commission
(License issued includes Class 1: Securities Trading, Class 4: Providing Opinions on Securities, and Class 9: Providing Asset Management), Central Number: AEO169</span> <br>
        </td>
        <td width="45" height="100">&nbsp;</td>
        <td width="45" height="100">&nbsp;</td>
    </tr>

    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>

    <tr style="background-color:#e7e2ef;">
        <td width="45" height="50">&nbsp;</td>
        <td colspan="8"> <span style="width: 120px;height: 35px;background: #e7e2ef;border-radius: 20px;font-size:
            18px;text-align: center;display: inline-block;line-height: 35px;border: 1px solid #787878;">&nbsp;&nbsp;Contact Us&nbsp;&nbsp;</span>
        </td>
        <td width="45" height="50">&nbsp;</td>
    </tr>

    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>

    <tr style="background-color:#e7e2ef;">
        <td width="5" height="50">&nbsp;</td>
        <td width="5" height="50">&nbsp;</td>
        <td colspan="8" valign="top">
            <span style="font-size: 15px; font-family: Microsoft YaHei;">Address: 25th Floor, 88 Wing Lok Street, Sheung Wan, Hong Kong</span>
        </td>
    </tr>

    <tr style="background-color:#e7e2ef;">
        <td width="5" height="50">&nbsp;</td>
        <td width="5" height="50">&nbsp;</td>
        <td colspan="8" valign="top">
            <span style="font-size: 15px; font-family: Microsoft YaHei;">Customer Service Hotline：+852 3896 3896(HongKong)</span> <br>
            <span style="font-size: 15px; font-family: Microsoft YaHei;">Monday to Friday from 9am to 6pm (excluding Saturdays, Sundays, and public holidays)</span>
        </td>
    </tr>

    <tr style="background-color:#e7e2ef;">
        <td width="5" height="50">&nbsp;</td>
        <td width="5" height="50">&nbsp;</td>
        <td colspan="8" valign="top">
            <span style="font-size: 15px; font-family: Microsoft YaHei;">E-mail (Customer Service)：cs@digifingroup.com</span>
        </td>
    </tr>

    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>
</table>
</body>
</html>
