<html>
<body>
<table align="center" cellpadding="0" cellspacing="0" width="900" style="margin:0 auto;border:1px solid #e7e2ef;
       box-shadow:0 4px 8px 0 #aaaaaa; font-size: 14px; font-family: Microsoft YaHei; ">
    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>

    <tr height="">
        <td width="45" height="67" style="background-color:#e7e2ef;">&nbsp;</td>
        <td height="67" colspan="8" style="background-color:#e7e2ef;">
            <div style="background-color:#e7e2ef; width:100%">
                <img alt="logo" title="" src="https://www.digifingroup.com/assets/logo_and_text.d001de9e.png"
                     height="50" width="400"/></div>
        </td>
        <td width="45" height="67" style="background-color:#e7e2ef;"> &nbsp;</td>
    </tr>

    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>
    <!-- 头部结束 -->
    <tr style="border-left: 1px solid #787878; border-right: 1px solid #787878;">
        <td width="45" height="50">&nbsp;</td>
        <td height="" colspan="8">
            <div style="padding-top:10px; font-size:14px; color:#333; line-height:26px;">
                <div style="padding:0px; margin:0px; line-height:26px;"><b>Hi,</b></div>
                <div style="padding:0px; margin:0px; line-height:26px; margin-top:15px;"> 请OPS知悉有新开户申请，请及时审核，详细信息如下：<br>
                    <table width="100%" border="1px" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td width="200"
                                style="padding-bottom:6px; font-size:14px; background-color:#e7e2ef">申请时间：</td>
                            <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">
                                {0}</td>
                        </tr>
                        <tr>
                            <td width="200" style="padding-bottom:6px; font-size:14px; background-color:#e7e2ef">客户名称：</td>
                            <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">
                                {1}</td>
                        </tr>
                        <tr>
                            <td width="200"
                                style="padding-bottom:6px; font-size:14px; background-color:#e7e2ef">开户方式：</td>
                            <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">
                                {2}</td>
                        </tr>
                        <tr>
                            <td width="200" style="padding-bottom:6px; font-size:14px; background-color:#e7e2ef">手机号码：</td>
                            <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">
                                {3}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="padding:0px; margin:0px;margin-top:15px; line-height:26px;"> 此致<br> <b><a
                        style="text-decoration:none; color:#blue;"
                        href="https://www.digifingroup.com/#/home">狮瀚环球金融有限公司</a></b></div>
                </div>
            </div>
            <br/><br/>
            <div style="line-height:26px;margin-top:10px; padding:0px">
                <strong>网路安全提示：保护好您的登录/安全凭证</strong></div>
            <div style="line-height:26px;padding:0px"> 提防骗案！狮瀚环球不会以电邮要求客户提供个人资料，用户名称、密码丶一次性密码或其他帐户资料；<br/>
                切勿透过任何电子邮件提供的超连结登入网上服务，或任何社交媒体平臺、电邮、简讯或电话等方式，透露您的登录帐号、密码和一次性登录密码
                (OTP) 给他人，务请小心保管个人资料；<br/> 不要使用公共场所的装置登录交易系统；<br/>
                定期修改密码、增强密码强度，能更有效保障您的帐户安全；<br/>
                如您怀疑自己遇上骗案，请立即致电客户服务热线向我们举报，以提防损失。<br/>
            </div>
        </td>
        <td width="45" height="50" style="border-right: 1px solid #e7e2ef;">&nbsp;</td>
    </tr>    <!-- 中间结束 -->
    <tr height="15">
        <td colspan="10"></td>
    </tr>

    <tr height="15">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>
    <!-- 中间部分结束 -->
    <tr style="background-color:#e7e2ef;">
        <td width="45" height="50">&nbsp;</td>
        <td colspan="8"> <span style="width: 250px;height: 35px;background: #e7e2ef;border-radius: 20px;font-size:
            18px;text-align: center;display: inline-block;line-height: 35px;border: 1px solid #787878;">关于[狮瀚环球资产管理平台]</span>
        </td>
        <td width="45" height="50">&nbsp;</td>
    </tr>
    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>
    <tr style="background-color:#e7e2ef;">
        <td width="45" height="100">&nbsp;</td>
        <td colspan="7" valign="top"> <span style="font-size: 16px; font-family: Microsoft YaHei;">
            【狮瀚环球资产管理平台】作为一站式金融资产管理平台，在全球范围内為投资者提供优质财富管理服务，由数字金融集团（DigiFIN Group）旗下狮瀚环球金融有限公司全资拥有。狮瀚环球金融有限公司创立于 1998 年，为香港证监会持牌法团
            (获发牌照包括第一类：证券交易、第四类：就证券提供意见及第九类：提供资产管理)，中央编号: AEO169。</span> <br> <span
            style="font-size: 16px; font-family: Microsoft YaHei;"></span>
        </td>
        <td width="45" height="100">&nbsp;</td>
        <td width="45" height="100">&nbsp;</td>
    </tr>

    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>

    <tr style="background-color:#e7e2ef;">
        <td width="45" height="50">&nbsp;</td>
        <td colspan="8"> <span style="width: 120px;height: 35px;background: #e7e2ef;border-radius: 20px;font-size:
            18px;text-align: center;display: inline-block;line-height: 35px;border: 1px solid #787878;">&nbsp;&nbsp;联络我们&nbsp;&nbsp;</span>
        </td>
        <td width="45" height="50">&nbsp;</td>
    </tr>

    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>

    <tr style="background-color:#e7e2ef;">
        <td width="5" height="50">&nbsp;</td>
        <td width="5" height="50">&nbsp;</td>
        <td colspan="8" valign="top"><span
            style="font-size: 16px; font-family: Microsoft YaHei;">地址：香港上环永乐街88号25楼</span>
        </td>
    </tr>

    <tr style="background-color:#e7e2ef;">
        <td width="5" height="50">&nbsp;</td>
        <td width="5" height="50">&nbsp;</td>
        <td colspan="8" valign="top">
            <span style="font-size: 16px; font-family: Microsoft YaHei;">客户服务热线：+852 3896 3896(香港)</span> <br>
            <span style="font-size: 16px; font-family: Microsoft YaHei;">星期一至五早上9时至下午6时(星期六、日及公众假期除外)</span>
        </td>
    </tr>

    <tr style="background-color:#e7e2ef;">
        <td width="5" height="50">&nbsp;</td>
        <td width="5" height="50">&nbsp;</td>
        <td colspan="8" valign="top">
            <span style="font-size: 16px; font-family: Microsoft YaHei;">电邮(客戶服务)：cs@digifingroup.com</span><br>
            <span style="font-size: 16px; font-family: Microsoft YaHei;">E-mail(Customer Service)：cs@digifingroup.com</span>
        </td>
    </tr>

    <tr height="10">
        <td colspan="10" style="background-color:#e7e2ef;"></td>
    </tr>
</table>
</body>
</html>
