<!DOCTYPE html>
<html lang="zh-Hans" style="font-size: 1.6vw;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>狮瀚环球金融-关于被视为专业投资者的申请</title>
</head>

<body style="margin: 0; font-family: SourceHanSansSC-Regular; background-color: #f5f5f5; font-size: 1.6vw;">
<table style="width: 100%; max-width: 1440px; margin: 0 auto; background-color: #fff; border-collapse: collapse;">
    <!-- Header -->
    <tr>
        <td
            style="background-image: url('https://minio.ifund.live:9000/minigod-prd/upload/20241031/697b20c15852018882542151b8519d0d.png'); background-size: cover; height: 8vw;">
            <table style="width: 100%; height: 100%;">
                <tr>
                    <td style="padding-left: 4vw; padding-top: 2vw;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/be19cfa72395dfd24dcfc3133884ccad.png"
                            alt="DigiFIN Logo" style="width: 20vw;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Main Content -->
    <tr>
        <td style="padding: 2vw; text-align: center;">
            <table style="width: 100%; background-color: #e9f0f8; padding: 3vw 0; margin: 0 auto;">
                <tr>
                    <td style="font-weight: bold; font-size: 1rem; color: #182987; padding-bottom: 2vw; text-align: left;">
                        尊敬的{0}，您好！
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 1rem; color: #182987; padding-bottom: 2vw; text-align: left;">
                        感谢您选择狮瀚环球。我们未能通过阁下申请成为专业投资者的审批，请登入DigiFIN APP查看原因并再次提交。谢谢。
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 1rem; color: #182987; padding-bottom: 2vw; text-align: left;">
                        如阁下有任何查询，敬请致电本公司的客户服务热线 (852) 3896 3896。
                    </td>
                </tr>
                  <tr>
                    <td
                        style="font-size: 1.125rem; color: #182987; text-decoration: underline; display: inline-block; float: left">
                        此致
                    </td>
                </tr>
                <tr>
                    <td
                        style="font-size: 1.125rem; color: #182987; text-decoration: underline; display: inline-block; float: left">
                        <a style="font-size: 1.125rem; color: #182987; text-decoration: underline; display: inline-block;"
                           href="https://www.digifingroup.com/#/home">狮瀚环球金融有限公司</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Security Info -->
    <tr>
        <td style="padding: 2vw;">
            <table style="width: 100%;">
                <tr>
                    <td style="text-align: left;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/d95d1bf57ea0810ae74eab94fecbe9f6.png"
                            alt="" style="width: 1.6vw; vertical-align: middle;">
                        <span
                            style="font-size: 1.2rem; padding: 0 1vw; background: linear-gradient(to bottom, transparent 50%, #FFF6E5 50%); display: inline-block;">
                                网络安全提示：保护好您的登录/安全凭证
                            </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 3.6vw; color: #666666; font-size: 1rem; line-height: 1.875rem;">
                        <p style="margin: 0;">
                            1.提防诈骗！狮瀚环球不会以电邮要求客户提供个人资料，用户名、密码、一次性密码或其他账户资料；</p>
                        <p style="margin: 0;">2.切勿通过任何电子邮件提供的超链接登录网上服务，或任何社交媒体平台、电邮、短信或电话等方式，透露您的登录账号、密码和一次性登录密码
                            (OTP) 给他人，请务必小心保管个人资料；</p>
                        <p style="margin: 0;">3.不要使用公共场所的设备登录交易系统；</p>
                        <p style="margin: 0;">4.定期修改密码，确保密码强度，能够有效保障您的账号安全；</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Footer -->
    <tr>
        <td
            style="background-image: url('https://minio.ifund.live:9000/minigod-prd/upload/20241031/1df6f6c328c06f0d07ad041a3b5c37a0.png'); background-size: 100% 100%; padding: 3vw 4vw;">
            <table style="width: 100%;">
                <tr>
                    <td style="font-size: 1.2rem; position: relative; margin-bottom: 2vw;">
                        关于 [狮瀚环球资产管理平台]

                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem; padding-bottom: 3vw;">
                        【狮瀚环球资产管理平台】作为一站式金融资产管理平台，在全球范围内为投资者提供优质财富管理服务，由数字金融集团（DigiFIN
                        Group）旗下狮瀚环球金融有限公司全资拥有。狮瀚环球金融有限公司创立于1998年，为香港证券监会持牌法人（获发牌照包括第一类：证券交易、第四类：就证券提供意见及第九类：提供资产管理），中央编号:
                        AEO169。
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 1.2rem; position: relative; margin-top: 5vw; margin-bottom: 1vw;">
                        联系我们

                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem; padding-bottom: 2vw;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/07ae5f7fc157497eb0f5746e3b7ae3b3.png"
                            alt=""
                            style="width: 2vw; height: 2vw; vertical-align: middle; margin-right: 1vw;">地址：香港上环永乐街88号25楼
                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/1cba1443d01a80d923c756ffff8ebb00.png"
                            alt=""
                            style="width: 2vw; height: 2vw; vertical-align: middle; margin-right: 1vw;">客户服务热线：+852
                        3896 3896(香港)
                    </td>
                </tr>
                <tr>
                    <td
                        style="color: #666666; font-size: 1rem; line-height: 1.875rem; padding-left: 3vw;padding-bottom: 2vw;">
                        星期一至五 9:00时至下午6:00时(星期六、日及公众假期除外)
                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/dff8c3f663dc4f9f9ff824791934ee07.png"
                            alt=""
                            style="width: 2vw; height: 2vw; vertical-align: middle; margin-right: 1vw;">电子邮件(客户服务)：cs@lionfin.com
                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem; padding-left: 3vw;">
                        E-mail (Customer Service)：cs@lionfin.com
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
