<!DOCTYPE html>
<html lang="zh-Hant" style="font-size: 1.6vw;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>獅瀚環球金融-關於被視為專業投資者的申請</title>
</head>

<body style="margin: 0; font-family: SourceHanSansSC-Regular; background-color: #f5f5f5; font-size: 1.6vw;">
<table style="width: 100%; max-width: 1440px; margin: 0 auto; background-color: #fff; border-collapse: collapse;">
    <!-- Header -->
    <tr>
        <td
            style="background-image: url('https://minio.ifund.live:9000/minigod-prd/upload/20241031/697b20c15852018882542151b8519d0d.png'); background-size: cover; height: 8vw;">
            <table style="width: 100%; height: 100%;">
                <tr>
                    <td style="padding-left: 4vw; padding-top: 2vw;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/be19cfa72395dfd24dcfc3133884ccad.png"
                            alt="DigiFIN Logo" style="width: 20vw;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Main Content -->
    <tr>
        <td style="padding: 2vw; text-align: center;">
            <table style="width: 100%; background-color: #e9f0f8; padding: 3vw 0; margin: 0 auto;">
                <tr>
                    <td style="font-weight: bold; font-size: 1rem; color: #182987; padding-bottom: 2vw; text-align: left;">
                        尊敬的{0}，您好！
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 1rem; color: #182987; padding-bottom: 2vw; text-align: left;">
                        感謝您選擇獅瀚環球。我們未能通過閣下申請成為專業投資者的審批，請登入DigiFIN APP查看原因並再次提交。謝謝。
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 1rem; color: #182987; padding-bottom: 2vw; text-align: left;">
                        如閣下有任何查詢，敬請致電本公司的客戶服務熱線 (852) 3896 3896。
                    </td>
                </tr>
                <tr>
                    <td
                        style="font-size: 1.125rem; color: #182987; text-decoration: underline; display: inline-block; float: left">
                        此致
                    </td>
                </tr>
                <tr>
                    <td
                        style="font-size: 1.125rem; color: #182987; text-decoration: underline; display: inline-block; float: left">
                        <a style="font-size: 1.125rem; color: #182987; text-decoration: underline; display: inline-block;"
                           href="https://www.digifingroup.com/#/home">獅瀚環球金融有限公司</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Security Info -->
    <tr>
        <td style="padding: 2vw;">
            <table style="width: 100%;">
                <tr>
                    <td style="text-align: left;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/d95d1bf57ea0810ae74eab94fecbe9f6.png"
                            alt="" style="width: 1.6vw; vertical-align: middle;">
                        <span
                            style="font-size: 1.2rem; padding: 0 1vw; background: linear-gradient(to bottom, transparent 50%, #FFF6E5 50%); display: inline-block;">
                                網絡安全提示：保護好您的登錄/安全憑證
                            </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 3.6vw; color: #666666; font-size: 1rem; line-height: 1.875rem;">
                        <p style="margin: 0;">
                            1.提防詐騙！獅瀚環球不會以電郵要求客戶提供個人資料，使用者名稱、密碼、一次性密碼或其他賬戶資料；</p>
                        <p style="margin: 0;">2.切勿通過任何電子郵件提供的超鏈接登錄網上服務，或任何社交媒體平台、電郵、短信或電話等方式，透露您的登錄賬號、密碼和一次性登錄密碼
                            (OTP) 給他人，請務必小心保管個人資料；</p>
                        <p style="margin: 0;">3.不要使用公共場所的設備登錄交易系統；</p>
                        <p style="margin: 0;">4.定期修改密碼，確保密碼強度，能夠有效保障您的賬號安全；</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Footer -->
    <tr>
        <td
            style="background-image: url('https://minio.ifund.live:9000/minigod-prd/upload/20241031/1df6f6c328c06f0d07ad041a3b5c37a0.png'); background-size: 100% 100%; padding: 3vw 4vw;">
            <table style="width: 100%;">
                <tr>
                    <td style="font-size: 1.2rem; position: relative; margin-bottom: 2vw;">
                        關於 [獅瀚環球資產管理平台]
                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem; padding-bottom: 3vw;">
                        【獅瀚環球資產管理平台】作為一站式金融資產管理平台，在全球範圍內為投資者提供優質財富管理服務，由數字金融集團（DigiFIN
                        Group）旗下獅瀚環球金融有限公司全資擁有。獅瀚環球金融有限公司創立於1998年，為香港證券監會持牌法人（獲發牌照包括第一類：證券交易、第四類：就證券提供意見及第九類：提供資產管理），中央編號:
                        AEO169。
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 1.2rem; position: relative; margin-top: 5vw; margin-bottom: 1vw;">
                        聯繫我們
                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem; padding-bottom: 2vw;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/07ae5f7fc157497eb0f5746e3b7ae3b3.png"
                            alt=""
                            style="width: 2vw; height: 2vw; vertical-align: middle; margin-right: 1vw;">地址：香港上環永樂街88號25樓
                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/1cba1443d01a80d923c756ffff8ebb00.png"
                            alt=""
                            style="width: 2vw; height: 2vw; vertical-align: middle; margin-right: 1vw;">客戶服務熱線：+852
                        3896 3896(香港)
                    </td>
                </tr>
                <tr>
                    <td
                        style="color: #666666; font-size: 1rem; line-height: 1.875rem; padding-left: 3vw;padding-bottom: 2vw;">
                        星期一至五 9:00時至下午6:00時(星期六、日及公眾假期除外)
                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem;">
                        <img
                            src="https://minio.ifund.live:9000/minigod-prd/upload/20241031/dff8c3f663dc4f9f9ff824791934ee07.png"
                            alt=""
                            style="width: 2vw; height: 2vw; vertical-align: middle; margin-right: 1vw;">電子郵件(客戶服務)：cs@lionfin.com
                    </td>
                </tr>
                <tr>
                    <td style="color: #666666; font-size: 1rem; line-height: 1.875rem; padding-left: 3vw;">
                        E-mail (Customer Service)：cs@lionfin.com
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
