<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.minigodinformation.mapper.ExchangeAnnouncementMapper">

    <resultMap id="BaseResultMap" type="com.minigod.minigodinformation.entity.ExchangeAnnouncement">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="custId" column="cust_id" jdbcType="VARCHAR"/>
            <result property="custName" column="cust_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="applicationId" column="application_id" jdbcType="VARCHAR"/>
            <result property="rejectedCause" column="rejected_cause" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,title,
        content,time,cust_id,
        cust_name,status,application_id,
        rejected_cause,is_deleted,create_user,
        create_time,update_user,update_time
    </sql>
    <select id="selFileById" resultType="string">
        select file_url
        from exchange_announcement_file
        where announcement_id = #{id}
    </select><resultMap id="selectAnnouncementPageResultMap" type="com.minigod.minigodinformation.vo.ClientExchangeAnnListVO">
    <result property="id" column="id" jdbcType="INTEGER"/>
    <result property="type" column="type" jdbcType="INTEGER"/>
    <result property="time" column="time" jdbcType="TIMESTAMP"/>
    <result property="title" column="title" jdbcType="VARCHAR"/>
    <result property="status" column="status" jdbcType="INTEGER"/>
    <collection property="files" ofType="string"
                select="selFileById" column="id"/>
</resultMap>

    <select id="selectAnnouncementPage" resultMap="selectAnnouncementPageResultMap" resultType="com.minigod.minigodinformation.vo.ClientExchangeAnnListVO">
        select
        da.id,da.type,da.time,da.cust_name,da.status,da.title
        from exchange_announcement as da
        <where>
            da.is_deleted = 0
            <if test="query.title != null and query.title != ''">
                and da.title like concat('%',#{query.title},'%')
            </if>
            <if test="query.startTime != null">
                and da.time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                and da.time &lt;= #{query.endTime}
            </if>
            <if test="query.statusList != null and query.statusList.size() > 0">
                and da.status in
                <foreach collection="query.statusList" item="status" separator="," open="(" close=")">
                    #{status}
                </foreach>
            </if>
        </where>
        order by da.time desc
    </select>

    <resultMap id="selByIdResultMap" type="com.minigod.minigodinformation.vo.ClientExchangeAnnInfoVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <result property="custId" column="cust_id" jdbcType="VARCHAR"/>
        <result property="custName" column="cust_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="applicationId" column="application_id" jdbcType="VARCHAR"/>
        <result property="rejectedCause" column="rejected_cause" jdbcType="VARCHAR"/>
        <collection property="files" ofType="string"
                    select="selFileById" column="id"/>
    </resultMap>
    <select id="selById" resultMap="selByIdResultMap" resultType="com.minigod.minigodinformation.vo.ClientExchangeAnnInfoVO">
        select
            da.id,da.type,da.title,da.content,da.time,da.cust_id,da.cust_name,da.status,
            da.create_user,da.create_time,da.update_user,da.update_time,da.application_id,da.rejected_cause
        from exchange_announcement as da
        where da.id = #{id} and da.is_deleted = 0
    </select>
</mapper>
