<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.zero.user.mapper.UserOldPasswordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="custOldPasswordResultMap" type="com.minigod.zero.user.entity.UserOldPassword">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="login_pwd" property="loginPwd"/>
        <result column="login_salt" property="loginSalt"/>
        <result column="login_active" property="loginActive"/>
        <result column="login_active_time" property="loginActiveTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


</mapper>
